# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Fichiers Excel uniquement (PAS les CSV !)
data/*.xlsx

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Kubernetes
k8s/

# Documentation
README.md
docs/

# Tests
tests/

# Docker
docker-compose.yml

# Autres
airflow/
monitoring/
scripts/
sql/
build.log
